<!DOCTYPE html>
<html>

<head>

<title>Admin Panel</title>

</head>

<body>

<h1>Post News</h1>

<form action="/admin/news" method="POST">

<input name="title" placeholder="News Title">

<br><br>

<textarea name="content"></textarea>

<br><br>

<button type="submit">Publish</button>

</form>

</body>

</html>