<header>
  <div class="header-container">
    <img src="/images/alima.jpg" alt="Engineer Alima" class="profile-pic">
    <h1>Engineer Alima</h1>
    <p>Professional Engineer | Kenya</p>
  </div>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>